body {
  /*background: linear-gradient(
    261.19deg,
    #05022c,
    #561376 40.48%,
    #2a1054 67.52%,
    #1a0436
  );
  background: linear-gradient(
    261.19deg,
    #34273B 30.48%,
    #534870 75.52%,
    #6E80A4
  );*/
  font-family: Poppins;
  height:728px;
  display: flex;
  justify-content: center;
    margin: 0;
    padding: 0;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

        